<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/framework/css/bootstrap.min.css">
    <link rel="stylesheet" href="/framework/css/animate.min.css">
    <script src="/framework/js/jquery.min.js"></script>
    <script src="/framework/js/bootstrap.min.js"></script>
    <title>fastPHP</title>
</head>
<style>
    #Alex-Root{margin: 60px auto;width: 50%;}
    hr{border-top: 1px solid #4a3838;}
    #Alex-Welcome a{color:#999;}
</style>
<body>
<?php Debug();?>
<div id="Alex-Root">

    <div id="Alex-Welcome" class="fadeInUp animated">
        <?php captchaImg();?>
    </div>
</div>
</body>
</html>