<!DOCTYPE html>
<head>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/framework/css/bootstrap.min.css">
        <script src="/framework/js/jquery.min.js"></script>
        <script src="/framework/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
    <?php foreach($param as $k=>$v) {;?>
      <div><?php echo $k.' '.$v['a'];?></div>
    <?php };?> 
    <nav aria-label="...">
      <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </nav>
</body>
</html>