<!DOCTYPE html>
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/framework/css/bootstrap.min.css">
    <link rel="stylesheet" href="/framework/css/animate.min.css">
    <script src="/framework/js/jquery.min.js"></script>
    <script src="/framework/js/bootstrap.min.js"></script>
    <title>fastPHP</title>
</head>
<style>
  #Alex-Root{margin: 60px auto;width: 50%;}
  hr{border-top: 1px solid #4a3838;}
  #Alex-Welcome a{color:#999;}
</style>
<body>
  <div id="Alex-Root">
      <div id="Alex-Welcome" class="fadeInUp animated">
          <h2>欢迎使用 <a target="_blank" href="https://github.com/15708497647/fastPHP"><?php echo $app_name;?></a> 框架</h2>
          <hr />
          <h4>author： <a href="javascrit:void(0)"><?php echo $author;?></a></h4>
          <h4>QQ： <a href="javascrit:void(0)"><?php echo $qq;?></a></h4>
          <h4>version： <a href="javascrit:void(0)"><?php echo $version;?></a></h4>
          <h4>documention: <a target="_blank" href="http://doc.91mylover.top">文档地址</a></h4>
          <h3>just free yourself :)</h3>
      </div>
  </div>
</body>
</html>